@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using StudentManagementWebApp.Models
@model String
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Attendance Check</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button:hover {
            opacity: 0.8;
        }

        .cnbtn {
            background-color: #ec3f3f;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 49%;
        }

        .lgnbtn {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 50%;
            transform: translateX(50%);
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        .frmalg {
            margin: auto;
            width: 80%;
        }

        table, th, td {
            border:1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="frmalg">
        <div class="container">
            <center>
                <h3>Attendance Check</h3>
            </center>
            <table style="width:100%">
                <tr>
                    <th>StudentID</th>
                    <th>StudentName</th>
                    <th>Attendace</th>
                    <th>Note</th>
                </tr>
                <tr>
                    <th>HE141045</th>
                    <th>Le Son Hai</th>
                    <th>
                        <input type="radio" name="Attended" value="true" />Attended
                        <input type="radio" name="Absented" value="false"/>Absented
                    </th>
                    <th><input type = "text"/></th>
                </tr>
                <tr>
                    <th>HE141045</th>
                    <th>Le Son Hai</th>
                    <th>
                        <input type="radio" name="Attended" value="true" />Attended
                        <input type="radio" name="Absented" value="false"/>Absented
                    </th>
                    <th><input type = "text"/></th>
                </tr>
                <tr>
                    <th>HE141045</th>
                    <th>Le Son Hai</th>
                    <th>
                        <input type="radio" name="Attended" value="true" />Attended
                        <input type="radio" name="Absented" value="false"/>Absented
                    </th>
                    <th><input type = "text"/></th>
                </tr>
                <tr>
                    <th>HE141045</th>
                    <th>Le Son Hai</th>
                    <th>
                        <input type="radio" name="Attended" value="true" />Attended
                        <input type="radio" name="Absented" value="false"/>Absented
                    </th>
                    <th><input type = "text"/></th>
                </tr>
            </table>
             <input type="submit" value="Save" ID="btn_Login" class="lgnbtn" />
        </div>
    </div>
</body>
</html>
